<nav class="navbar-custom navbar navbar-expand-lg">
    {{#logIn}}
    <img id="logo" alt ="" src="/assets/Logo_de_la_aplicacion.PNG">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span></button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="font-size-navbar a-header nav-link dropdown-toggle" href="#" id="navbarDropdown_user" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="material-icon-custom material-icons">account_circle</i>
                    {{#name}}{{name}}{{/name}}
                </a>
                <div class="menu-custom dropdown-menu" aria-labelledby="navbarDropdown">
                    <div class="name_user_icon">
                        <h4>{{#name}}{{name}}{{/name}}</h4>
                        <p id="role_user">{{#role}}{{role}}{{/role}}</p>
                    </div>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/logIn">Cerrar sesión</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/config/edit">Configuracion de la cuenta</a>
                </div>
            </li>
            <li class="nav-item active">
                <a class="font-size-navbar a-header nav-link" href="/MainPage"> Home <span class="sr-only">(current)</span></a>
            </li>
            <!--
            <li class="nav-item dropdown">
                <a class="a-header nav-link dropdown-toggle" href="#" id="navbarDropdown_categorias" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Categorias
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Administracion de Categoria</a>
                </div>
            </li>
            -->
            <li class="nav-item dropdown">
                <a class="font-size-navbar a-header nav-link dropdown-toggle" href="#" id="navbarDropdown_fomularios" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Formularios
                </a>
                <div class="menu-custom dropdown-menu" aria-labelledby="navbarDropdown">
                    {{#scrum_user}}
                    <a class="dropdown-item" href="/questionnaire">Administrar formulario</a>
                    <div class="dropdown-divider"></div>
                    {{/scrum_user}}
                    <a class="dropdown-item" href="/questionnaire/pending">Responder formularios {{#count}}({{count}}){{/count}}</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/questionnaire/resolve">Formularios resueltos</a>
                </div>
            </li>
            {{#scrum_user}}
            <li class="nav-item dropdown">
                <a class="font-size-navbar a-header nav-link dropdown-toggle" href="#" id="navbarDropdown_preguntas" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Preguntas
                </a>
                <div class="menu-custom dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/questions">Administrar Preguntas </a>
                </div>
            </li>
            {{/scrum_user}}
            <li class="nav-item">
                <a class="font-size-navbar a-header nav-link" href="/Result">Resultados</a>
            </li>
        </ul>

        <!--
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
        </form>
        -->
    </div>
    {{/logIn}}
</nav>